//---------------------------------------------------------------------------
//
// Name:        Project1App.rc
// Author:      Guru
// Created:     12/5/2007 8:42:35 PM
// Description: 
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>
